<div
  class="flex flex-col md:justify-center justify-start py-12 sm:px-6 lg:px-8"
>
  <div class="mt-2 md:mt-8 sm:mx-auto sm:w-full sm:max-w-md md:max-w-xl">
    <div class="bg-white py-8 px-4 sm:rounded-lg sm:px-10">
      <form
        class="space-y-6"
        [formGroup]="accountForm"
        (ngSubmit)="registerUser()"
      >
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">
            {{ 'AUTH.EMAIL' | translate }}
          </label>
          <div class="mt-1 relative">
            <input
              formControlName="email"
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              [class.error]="checkError('email')"
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
            />
            <div
              *ngIf="checkError('email')"
              class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none"
            >
              <img class="h-5 w-5" src="/assets/icons/error.svg" alt="" />
            </div>
          </div>
          <p
            *ngIf="checkError('email')"
            class="mt-2 text-sm text-red-600"
            id="email-error"
          >
            {{ getEmailErrors() | translate }}
          </p>
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">
            {{ 'AUTH.PASSWORD' | translate }}
          </label>
          <div class="mt-1 relative">
            <input
              formControlName="password"
              id="password"
              name="password"
              type="password"
              autocomplete="password"
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
              [class.error]="checkError('password')"
            />
          </div>
          <p
            *ngIf="checkError('password')"
            class="mt-2 text-sm text-red-600"
            id="email-error"
          >
            {{ getPasswordErrors() | translate }}
          </p>
        </div>

        <div>
          <label
            for="confirmPassword"
            class="block text-sm font-medium text-gray-700"
          >
            {{ 'AUTH.CONFIRMPASSWORD' | translate }}
          </label>
          <div class="mt-1 relative">
            <input
              formControlName="confirmPassword"
              id="confirmPassword"
              name="confirmPassword"
              type="password"
              autocomplete="current-password"
              [class.error]="checkError('confirmPassword')"
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
            />
          </div>
          <p
            *ngIf="checkError('confirmPassword')"
            class="mt-2 text-sm text-red-600"
            id="email-error"
          >
            {{ getConfirmPasswordErrors() | translate }}
          </p>
        </div>
        <div class="flex items-center">
          <input
            id="remember_me"
            name="remember_me"
            type="checkbox"
            formControlName="checkbox"
            class="h-4 w-4 text-green-500 focus:ring-green-400 border-gray-300 rounded"
          />
          <label
            for="remember_me"
            class="ml-2 block text-sm text-gray-900"
            [class.check]="checkError('checkbox')"
          >
            {{ 'AUTH.AGREE' | translate
            }}<span class="text-green-500 font-semibold">{{
              'AUTH.TERMSOFUSER' | translate
            }}</span>
            {{ 'AUTH.AND' | translate }}
            <span class="text-green-500 font-semibold">{{
              'AUTH.PRIVACYPOLICY' | translate
            }}</span>
            {{ 'AUTH.OF' | translate }}
          </label>
        </div>
        <div
          *ngIf="firebaseErrorCode !== undefined"
          class="p-2 bg-red-100 rounded-md text-center"
        >
          <span class="text-md text-red-600">{{
            firebaseErrorCode | translate
          }}</span>
        </div>
        <div>
          <button
            type="submit"
            [class.disabled]="isLoading"
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
          >
            Suivant
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
