<div class="flex flex-wrap-reverse lg:flex-wrap shadow-sm">
  <div
    class="bg-white py-6 sm:py-8 lg:py-12 min-h-[200px] w-full 2xl:[70%] xl:w-[65%] lg:w-[60%]"
  >
    <div
      [innerHTML]="description"
      class="max-w-screen-md px-4 md:px-8 mx-auto"
    ></div>
  </div>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div
    class="overflow-hidden min-h-[200px] w-full h-full 2xl:[30%] xl:w-[35%] lg:w-[40%]"
  >
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Informations génerales
      </h3>
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div
          *ngIf="data?.public_admitted"
          class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
        >
          <dt class="text-sm font-medium text-gray-500">Public admis</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <div *ngFor="let item of data?.public_admitted">- {{ item }}</div>
          </dd>
        </div>
        <div
          *ngIf="data?.price"
          class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
        >
          <dt class="text-sm font-medium text-gray-500">Prix</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <span *ngIf="data.price?.new_value" class="text-green-500">
              {{ data.price.new_value }}&nbsp;{{ data.price.currency }} </span
            ><span [class.newPrice]="data.price?.new_value"
              >{{ data.price.value }}&nbsp;{{ data.price.currency }}&nbsp;</span
            >
            <div
              *ngIf="data?.eligibility !== ''"
              class="cursor-pointer text-xs p-1 mb-2 md:m-0 text-white rounded-md bg-black border-white border-2 inline-block"
            >
              Finançable {{ data.eligibility }}
            </div>
          </dd>
        </div>
        <div
          *ngIf="data?.start_date"
          class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
        >
          <dt class="text-sm font-medium text-gray-500">Date de début</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{ data.start_date }}
          </dd>
        </div>
        <div
          *ngIf="data?.duration"
          class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
        >
          <dt class="text-sm font-medium text-gray-500">Durée</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{ data.duration }}
          </dd>
        </div>
        <div
          *ngIf="data?.learning_mode"
          class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
        >
          <dt class="text-sm font-medium text-gray-500">Type d'enseignement</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <div *ngFor="let item of data?.learning_mode">> {{ item }}</div>
          </dd>
        </div>
        <div
          *ngIf="data?.success_rate"
          class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
        >
          <dt class="text-sm font-medium text-gray-500">Taux de réussite</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{ data.success_rate }}
          </dd>
        </div>
        <div
          *ngIf="data?.location?.address"
          class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
        >
          <dt class="text-sm font-medium text-gray-500">Lieu</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <div *ngIf="data?.learning_mode[0] !== 'À distance'; else remote">
              <div *ngFor="let item of data?.location?.address">
                - {{ item }}
              </div>
            </div>
            <ng-template #remote> France entière </ng-template>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
