<div
  (click)="toggleBot()"
  id="toggle-bp"
  class="bp-widget-web bp-widget-widget"
>
  <div class="bpw-floating-button absolute -right-4">
    <span class="absolute -top-1 -right-0 h-3 w-3">
      <span
        class="animate-ping absolute -left-1 -top-0 inline-flex h-5 w-5 rounded-full bg-green-400 opacity-75"
      ></span>
      <span
        class="relative inline-flex rounded-full h-3 w-3 bg-green-500"
      ></span>
    </span>
    <img
      class="relative object-cover w-16 h-16 cursor-pointer rounded-full shadow-md shadow-gray-500 transform transition duration-400 hover:scale-105"
      src="/assets/img/robot.png"
      alt="SE-Chatbot"
    />
  </div>
</div>
