<!-- <div class="md:p-10 flex justify-center">
    <div class="card bg-white w-full md:shadow lg:w-2/3 md:w-3/4 rounded-md  flex md:flex-row">
        <div
            class="h-1/2 p-2 py-8 border-gray-300 border-b-[1px] md:border-r-[1px] md:border-b-0 min-h-[300px] w-screen md:w-1/2 md:h-full">
            <div class="content min-h-[240px]  flex flex-col  ">
                <div class="flex justify-center">
                    <img class="h-8" src="/assets/img/Logo.png" alt="logo">
                </div>
                <p class="text-center text-sm text-gray-400 my-4">Me connecter avec mon compte StartingEvolve</p>
                <button class="lg:w-1/2 md:h-2/5 btn btn-primary btn-sm self-center">Se connecter</button>
            </div>

        </div>
        <div class="h-1/2 p-2 w-screen md:w-1/2 md:h-full bg-[#f0f0f0] ">

        </div>

    </div>
</div> -->
