<main class="lg:relative border-b-[1px] border-gray-200">
  <div
    class="mx-auto max-w-full w-full pt-16 pb-20 text-center lg:py-18 lg:text-left"
  >
    <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
      <h1
        class="text-2xl tracking-tight font-extrabold text-gray-900 sm:text-4xl md:text-5xl lg:text-4xl xl:text-4xl"
      >
        <span class="block lg:inline">300 000 prestations </span>
        <span class="block text-green-500 lg:inline">{{
          'AUTH.BLABLA2' | translate
        }}</span>
      </h1>
      <se-multi-search-box
        [dropDownItems]="dropDownItems"
        [activeItem]="activeItem"
      ></se-multi-search-box>
      <p
        class="mt-3 text-justify max-w-md mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl"
      >
        {{ 'AUTH.BLABLA' | translate }}
      </p>
    </div>
  </div>
  <div
    class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full"
  >
    <img
      class="absolute inset-0 w-full h-full object-cover"
      src="assets/img/landing.jfif"
      alt=""
    />
  </div>
</main>
<section class="bg-white">
  <div class="p-5 border-b border-gray-100">
    <h3 class="text-xl md:text-3xl font-medium text-gray-900">
      Notre selection de la semaine
    </h3>
  </div>
  <se-article-carousel [carouselItems]="carouselItems"></se-article-carousel>
</section>
