.carousel-item {
  @apply p-3 md:w-[400px] md:h-[500px] cursor-pointer w-[300px] h-[375px];
}

/* mixin for multiline */
.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 6em;
  margin-right: -1em;
  padding-right: 1em;
}

.d-none {
  display: none;
}
