<div class="min-h-screen bg-white">
  <div class="relative w-full bg-gradient-1 text-white">
    <se-breadcrumbs
      [type]="'Courses'"
      [links]="[
        {
          name: courseInfo?.category,
          url: '/courses',
          category: courseInfo?.category
        }
      ]"
    ></se-breadcrumbs>
    <div
      class="h-full min-h-[250px] mx-auto px-3 py-6 md:py-12 2xl:w-[1512px] xl:w-[1256px] lg:w-[1000px] md:w-[744px] sm:w-[616px] text-left"
    >
      <div class="flex flex-wrap -mx-3">
        <div class="w-full relative px-3 md:w-[50%] space-y-4">
          <div
            class="lg:text-4xl xl:text-4xl md:text-3xl sm:text-2xl text-2xl mb-4"
            *ngIf="courseInfo?.title"
          >
            {{ courseInfo.title }}
          </div>
          <div
            class="lg:text-base font-extralight md:text-sm text-xs"
            *ngIf="courseInfo?.description"
          >
            {{ courseInfo.description }}
          </div>
          <div class="flex space-x-1" *ngIf="courseInfo?.reviews">
            <se-stars [note]="courseInfo?.reviews.global_score"></se-stars>
            <div class="cursor-pointer ml-2 font-semibold">
              {{ courseInfo.reviews.global_score }}
            </div>
            <div class="cursor-pointer text-gray-300 hover:text-white">
              {{ courseInfo.reviews.total | number }} ratings
            </div>
          </div>
          <!--          <div-->
          <!--            *ngFor="let instructor of courseInfo?.instructors"-->
          <!--            class="flex flex-wrap-reverse items-center md:space-x-4 md:space-y-0 space-y"-->
          <!--          >-->
          <!--            <div class="w-full flex items-center space-x-4 md:w-fit">-->
          <!--              <button-->
          <!--                *ngIf="instructor?.image"-->
          <!--                type="button"-->
          <!--                class="profile-pic"-->
          <!--                id="user-menu-button"-->
          <!--                aria-expanded="false"-->
          <!--                aria-haspopup="true"-->
          <!--              >-->
          <!--                <span class="sr-only">Open user profile</span>-->
          <!--                <img-->
          <!--                  class="h-8 w-8 rounded-full"-->
          <!--                  [src]="instructor.image"-->
          <!--                  alt=""-->
          <!--                />-->
          <!--              </button>-->
          <!--              <div class="cursor-pointer hover:underline">-->
          <!--                {{ instructor.full_name }}-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            <div-->
          <!--              *ngIf="instructor.top_instructor"-->
          <!--              class="text-xs p-1 mb-2 md:m-0 font-semibold rounded-md bg-green-500 border-white border-2"-->
          <!--            >-->
          <!--              Top instructeur-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="md:px-4 self-start" *ngIf="courseInfo?.organisation">
            <p>
              Offert par:
              <span class="cursor-pointer hover:underline font-semibold">{{
                courseInfo.organisation.name
              }}</span>
            </p>
            <img
              class="cursor-pointer px-4 py-2 h-24 w-48 object-fill"
              [src]="courseInfo.organisation.image"
              alt="logo-provider"
            />
          </div>
        </div>
        <div
          class="w-full flex flex-col md:justify-start items-center justify-center relative p-3 min-h-[250px] md:w-[50%] space-y-4"
        >
          <div
            class="text-black bg-green-400 shadow rounded-sm max-h-[400px] min-h-[300px] xl:w-[80%] xl:h-[70%] lg:w-[100%] md:w-[100%] md:h-[85%] w-[95%] h-full"
          >
            <div
              class="h-full w-full mt-5 py-6 px-8 bg-white space-y-6 flex flex-col items-center"
            >
              <p class="text-center xl:text-xl text-lg font-semibold">
                Commencer dès Aujourd'hui !
              </p>
              <p class="lg:text-center text-lg">
                Demandez plus d'informations sur cette formation
              </p>
              <div class="xl:flex pt-[10%] hidden py-6">
                <button
                  (click)="toggleModal()"
                  class="bg-green-500 w-full text-white active:bg-emerald-600 font-bold text-base px-8 py-3 rounded shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                  type="button"
                >
                  Je m'informe gratuitement
                </button>
              </div>
              <div class="xl:hidden w-[90%] flex flex-col py-6">
                <button
                  (click)="toggleModal()"
                  class="bg-green-500 w-full text-white active:bg-green-600 font-bold uppercase text-xs px-8 py-3 rounded shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                  type="button"
                >
                  Je m'informe gratuitement
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <se-tabs (returnActiveId)="getTabId($event)">
    <se-tab
      *ngFor="let tab of tabs"
      [id]="tab.id"
      [title]="tab.title"
      [image]="tab.image"
    ></se-tab>
  </se-tabs>
  <div
    [ngSwitch]="activeTabId"
    class="feed h-full min-h-[250px] mx-auto pb-4 px-3 2xl:w-[1512px] xl:w-[1256px] lg:w-[1000px] md:w-[744px] sm:w-[616px] text-left"
  >
    <se-overview
      *ngSwitchCase="1"
      [data]="courseInfo?.overview"
      [description]="courseInfo?.organisation.description"
    >
    </se-overview>
    <se-goals *ngSwitchCase="2" [data]="courseInfo?.goals"></se-goals>
    <se-prerequisites *ngSwitchCase="3" [data]="courseInfo?.prerequisites">
    </se-prerequisites>
    <se-program *ngSwitchCase="4" [data]="courseInfo?.program"></se-program>
    <!--    <se-intructors *ngSwitchCase="5" [data]="courseInfo?.instructors"-->
    <!--    >instructeurs-->
    <!--    </se-intructors>-->
    <se-certifications *ngSwitchCase="6" [data]="courseInfo?.certifications"
      >certifications
    </se-certifications>
    <se-reviews *ngSwitchCase="7" [data]="courseInfo?.reviews"></se-reviews>
  </div>
  <div
    *ngIf="isOpen"
    (click)="toggleModal()"
    class="fixed top-0 right-0 left-0 bottom-0 w-screen h-screen z-[100] bg-black opacity-50"
  ></div>
  <!-- Modal -->
  <div
    *ngIf="isOpen"
    class="fixed top-0 overflow-auto right-0 sm:top-[3%] w-screen h-screen sm:right-[20%] sm:rounded-md sm:shadow-sm z-[200] sm:w-[60%] sm:h-[94%] bg-white z-200"
  >
    <div
      class="relative flex flex-col flex-shrink-0 items-center justify-center p-4 border-b sm:border-gray-200 border-gray-600 rounded-t-md"
    >
      <p class="text-sm font-light">Se former avec</p>
      <h5
        class="text-lg font-semibold leading-normal text-gray-700"
        id="exampleModalLabel"
      >
        CFA IGS
      </h5>
      <img
        class="cursor-pointer px-4 py-2 h-24 w-48 object-fill"
        [src]="courseInfo.organisation.image"
        alt="logo-provider"
      />
      <button
        type="button"
        (click)="toggleModal()"
        class="absolute top-2 right-2 box-content w-6 h-6 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
      >
        <img src="/assets/icons/close.svg" alt="" srcset="" />
      </button>
    </div>
    <div class="md:py-6 py-2 md:border-l-2 md:col-span-2">
      <form [formGroup]="leadingForm" (ngSubmit)="submitForm()">
        <div class="overflow-hidden">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <label
                  for="situation"
                  class="inline-flex items-end text-sm font-medium text-gray-700"
                  ><span>Situation</span
                  ><img
                    class="w-3 h-fit"
                    src="/assets/img/star2.png"
                    alt="star"
                /></label>
                <select
                  [formControlName]="'situation'"
                  id="situation"
                  name="situation"
                  autocomplete="situation"
                  class="form-select mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
                >
                  <option
                    *ngFor="let situation of situationItems"
                    [selected]="leadingForm.value.situation === situation"
                    [value]="situation"
                  >
                    {{ situation }}
                  </option>
                </select>
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label
                  for="situation"
                  class="inline-flex items-end text-sm font-medium text-gray-700"
                  ><span>Niveau actuel</span
                  ><img
                    class="w-3 h-fit"
                    src="/assets/img/star2.png"
                    alt="star"
                /></label>
                <select
                  [formControlName]="'level'"
                  id="situation"
                  name="situation"
                  autocomplete="situation"
                  class="form-select mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
                >
                  <option
                    *ngFor="let level of levelItems"
                    [selected]="leadingForm.value.level === level"
                    [value]="level"
                  >
                    {{ level }}
                  </option>
                </select>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label
                  for="first_name"
                  class="inline-flex items-end text-sm font-medium text-gray-700"
                  ><span>Prénom</span
                  ><img
                    class="w-3 h-fit"
                    src="/assets/img/star2.png"
                    alt="star"
                /></label>
                <input
                  type="text"
                  [formControlName]="'first_name'"
                  name="first_name"
                  id="first_name"
                  [class.error]="checkError('first_name')"
                  autocomplete=" given-name"
                  class="mt-1 form-input focus:ring-green-500 focus:border-green-500 block w-full b sm:text-sm border-gray-300 rounded-md"
                />
                <p
                  *ngIf="checkError('first_name')"
                  class="mt-2 text-sm text-red-600"
                  id="email-error"
                >
                  Le prénom est requis
                </p>
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label
                  for="last_name"
                  class="inline-flex items-end text-sm font-medium text-gray-700"
                  ><span>Nom</span
                  ><img
                    class="w-3 h-fit"
                    src="/assets/img/star2.png"
                    alt="star"
                /></label>
                <input
                  type="text"
                  [formControlName]="'last_name'"
                  name="last_name"
                  id="last_name"
                  autocomplete="family-name"
                  [class.error]="checkError('last_name')"
                  class="mt-1 form-input focus:ring-green-500 focus:border-green-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                />
                <p
                  *ngIf="checkError('last_name')"
                  class="mt-2 text-sm text-red-600"
                  id="email-error"
                >
                  Le nom est requis
                </p>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label
                  for="phone_number"
                  class="relative block text-sm font-medium text-gray-700"
                  >Phone Number
                  <img
                    class="absolute w-4 left-24 -top-1"
                    src="/assets/img/star.png"
                    alt="star"
                  />
                </label>
                <div class="mt-1 relative rounded-md shadow-sm">
                  <div class="absolute inset-y-0 left-0 flex items-center">
                    <label for="phone_prefix" class="sr-only"
                      >Phone prefix</label
                    >
                    <select
                      [formControlName]="'phone_prefix'"
                      id="phonePrefix"
                      name="country"
                      class="form-select cursor-pointer h-full focus:ring-green-500 focus:border-green-500 py-0 pl-3 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-l-md"
                    >
                      <option
                        [selected]="leadingForm.value.phonePrefix === '+33'"
                      >
                        +33
                      </option>
                      <option
                        [selected]="leadingForm.value.phonePrefix === '+212'"
                      >
                        +212
                      </option>
                      <option
                        [selected]="leadingForm.value.phonePrefix === '+1'"
                      >
                        +1
                      </option>
                    </select>
                  </div>
                  <input
                    type="text"
                    name="phone_number"
                    id="phone_number"
                    [formControlName]="'phone_number'"
                    [class.error]="checkError('phone_number')"
                    class="form-input focus:ring-green-500 focus:border-green-500 block w-full pl-20 sm:text-sm border-gray-300 rounded-md"
                    placeholder="E.g (0)749502912"
                  />
                  <div
                    *ngIf="false"
                    class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none"
                  >
                    <img class="h-5 w-5" src="/assets/icons/error.svg" alt="" />
                  </div>
                </div>
                <p
                  *ngIf="checkError('phone_number')"
                  class="mt-2 md:max-w-[190px] text-sm text-red-600"
                  id="email-error"
                >
                  Le numéro de téléphone est requis
                </p>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label
                  for="email_address"
                  class="inline-flex items-end text-sm font-medium text-gray-700"
                  ><span>Adresse email</span
                  ><img
                    class="w-3 h-fit"
                    src="/assets/img/star2.png"
                    alt="star"
                /></label>
                <input
                  type="text"
                  [formControlName]="'email'"
                  name="email_address"
                  id="email_address"
                  autocomplete="email"
                  class="form-input mt-1 focus:ring-green-500 focus:border-green-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                />
              </div>
            </div>
          </div>
          <div class="px-4 py-3 text-right sm:px-6 space-x-4">
            <button
              type="submit"
              [class.disabled]="isLoading"
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
            >
              Valider
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
