<div class="min-h-screen bg-white">
  <div class="relative w-full bg-gradient-1 text-white">
    <se-breadcrumbs
      [type]="'Courses'"
      [links]="[{ name: courseInfo.category, url: '/xd' }]"
    ></se-breadcrumbs>
    <div
      class="h-full min-h-[250px] mx-auto px-3 py-6 md:py-12 2xl:w-[1512px] xl:w-[1256px] lg:w-[1000px] md:w-[744px] sm:w-[616px] text-left"
    >
      <div class="flex flex-wrap -mx-3">
        <div class="w-full relative px-3 md:w-[50%] space-y-4">
          <div
            class="lg:text-4xl xl:text-4xl md:text-3xl sm:text-2xl text-2xl mb-4"
            *ngIf="courseInfo?.title"
          >
            {{ courseInfo.title }}
          </div>
          <div
            class="lg:text-base font-extralight md:text-sm text-xs"
            *ngIf="courseInfo?.description"
          >
            {{ courseInfo.description }}
          </div>
          <div class="flex space-x-1" *ngIf="courseInfo?.reviews">
            <se-stars [note]="courseInfo?.reviews.global_score"></se-stars>
            <div class="cursor-pointer ml-2 font-semibold">
              {{ courseInfo.reviews.global_score }}
            </div>
            <div class="cursor-pointer text-gray-300 hover:text-white">
              {{ courseInfo.reviews.total | number }} ratings
            </div>
          </div>
          <div
            *ngFor="let instructor of courseInfo?.instructors"
            class="flex flex-wrap-reverse items-center md:space-x-4 md:space-y-0 space-y"
          >
            <div class="w-full flex items-center space-x-4 md:w-fit">
              <button
                *ngIf="instructor?.image"
                type="button"
                class="profile-pic"
                id="user-menu-button"
                aria-expanded="false"
                aria-haspopup="true"
              >
                <span class="sr-only">Open user profile</span>
                <img
                  class="h-8 w-8 rounded-full"
                  [src]="instructor.image"
                  alt=""
                />
              </button>
              <div class="cursor-pointer hover:underline">
                {{ instructor.full_name }}
              </div>
            </div>
            <div
              *ngIf="instructor.top_instructor"
              class="text-xs p-1 mb-2 md:m-0 font-semibold rounded-md bg-green-500 border-white border-2"
            >
              Top instructeur
            </div>
          </div>
          <div class="md:px-4 self-start" *ngIf="courseInfo?.organisation">
            <p>
              Offert par:
              <span class="cursor-pointer hover:underline font-semibold">{{
                courseInfo.organisation.name
              }}</span>
            </p>
            <img
              class="cursor-pointer px-4 py-2 h-24 w-48 object-fill"
              [src]="courseInfo.organisation.image"
              alt="logo-provider"
            />
          </div>
        </div>
        <div
          class="w-full flex flex-col md:justify-start items-center justify-center relative p-3 min-h-[250px] md:w-[50%] space-y-4"
        >
          <div
            class="text-black bg-green-400 shadow rounded-sm max-h-[400px] min-h-[300px] xl:w-[80%] xl:h-[70%] lg:w-[100%] md:w-[100%] md:h-[85%] w-[95%] h-full"
          >
            <div
              class="h-full w-full mt-5 py-6 px-8 bg-white space-y-6 flex flex-col items-center"
            >
              <p class="text-center xl:text-xl text-lg font-semibold">
                Commencer dès Aujourd'hui !
              </p>
              <p class="lg:text-center text-lg">
                Demandez plus d'informations sur cette formation
              </p>
              <div class="xl:flex pt-[10%] hidden py-6">
                <button
                  class="bg-green-500 w-full text-white active:bg-emerald-600 font-bold uppercase text-base px-8 py-3 rounded shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                  type="button"
                >
                  Je m'informe
                </button>
              </div>
              <div class="xl:hidden w-[90%] flex flex-col py-6">
                <button
                  class="bg-green-500 w-full text-white active:bg-green-600 font-bold uppercase text-base px-8 py-3 rounded shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                  type="button"
                >
                  Je m'informe
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <se-tabs (returnActiveId)="getTabId($event)">
    <se-tab
      *ngFor="let tab of tabs"
      [id]="tab.id"
      [title]="tab.title"
      [image]="tab.image"
    ></se-tab>
  </se-tabs>
  <div
    [ngSwitch]="activeTabId"
    class="feed h-full min-h-[250px] mx-auto pb-4 px-3 2xl:w-[1512px] xl:w-[1256px] lg:w-[1000px] md:w-[744px] sm:w-[616px] text-left"
  >
    <se-overview *ngSwitchCase="1" [data]="courseInfo?.overview"></se-overview>
    <se-goals *ngSwitchCase="2" [data]="courseInfo?.goals"></se-goals>
    <se-prerequisites *ngSwitchCase="3" [data]="courseInfo?.prerequisites">
    </se-prerequisites>
    <se-program *ngSwitchCase="4" [data]="courseInfo?.program"></se-program>
    <se-intructors *ngSwitchCase="5" [data]="courseInfo?.instructors"
      >instructeurs
    </se-intructors>
    <se-certifications *ngSwitchCase="6" [data]="courseInfo?.certifications"
      >certifications
    </se-certifications>
    <se-reviews *ngSwitchCase="7" [data]="courseInfo?.reviews"></se-reviews>
  </div>
</div>
