@media (min-width: 760px) and (min-height: 500px) {
  .with_image {
    background-image: url('/assets/img/explaining.svg');
    background-size: 30rem;
    background-repeat: no-repeat;
    background-position: -5% 130%;
  }
}
