<se-navbar-provider [isExit]="true"></se-navbar-provider>
<div class="bg-gray-100 min-h-screen with_image pt-16">
  <div class="max-w-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div>
      <h2 class="mt-20 text-center md:text-3xl font-extrabold text-gray-900">
        Tout d'abord , décrivez nous votre situation
      </h2>
    </div>
    <div class="mt-8 space-y-6">
      <div
        class="block cursor-pointer bg-white shadow-lg hover:bg-gray-50"
        (click)="goto(false)"
      >
        <div class="relative flex items-center px-4 py-4 sm:px-6">
          <div class="min-w-0 flex-1 flex items-center space-x-4">
            <div class="flex-shrink-0">
              <img class="h-16 w-16" src="/assets/img/freelancer.png" alt="" />
            </div>
            <div>
              <p class="md:text-sm text-xs font-semibold">
                Je suis un formateur indépendant
              </p>
            </div>
          </div>
          <div class="absolute right-4">
            <!-- Heroicon name: solid/chevron-right -->
            <svg
              class="h-5 w-5 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>
      </div>
      <div
        class="block cursor-pointer bg-white shadow-lg hover:bg-gray-50"
        (click)="goto(true)"
      >
        <div class="relative flex items-center px-4 py-4 sm:px-6">
          <div class="min-w-0 flex-1 flex items-center space-x-4">
            <div class="flex-shrink-0">
              <img class="h-16 w-16" src="/assets/img/corporation.png" alt="" />
            </div>
            <div class="pt-4 md:pt-0">
              <p class="md:text-sm text-xs font-semibold">
                Je suis un organisme de formation
              </p>
              <p class="flex md:mt-2 items-center text-sm text-gray-500">
                <span class="truncate"
                  >Ex : Entreprise, Centre de Formation...</span
                >
              </p>
            </div>
          </div>
          <div class="absolute right-4">
            <!-- Heroicon name: solid/chevron-right -->
            <svg
              class="h-5 w-5 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
