<div class="flex items-center">
  <div class="min-w-0 flex-1 lg:px-0 xl:col-span-6">
    <div
      class="flex items-center py-4 md:max-w-3xl md:mx-auto lg:max-w-none lg:mx-0 xl:px-0"
    >
      <div class="w-full">
        <label for="search" class="sr-only">Quick search</label>
        <div class="relative">
          <div
            class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center"
          >
            <!-- Heroicon name: solid/search -->
            <svg
              class="md:h-7 md:w-7 h-5 w-5 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <input
            (keydown)="onSearch($event)"
            autocomplete="off"
            name="search"
            class="rounded-tl-md md:h-14 md:pl-12 rounded-bl-md shadow block w-full bg-white py-2 pl-10 text-sm placeholder-gray-500 border-gray-300 focus:border-gray-300 focus:ring-transparent focus:outline-none focus:text-gray-900 focus:placeholder-gray-400 sm:text-sm"
            id="dynamic-placeholder"
            type="text"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- TODO (bobbhy) UX Improvement -->
  <div class="relative inline-block text-left">
    <div>
      <button
        (click)="toggleDropdown()"
        type="button"
        class="inline-flex md:h-14 md:items-center justify-center w-full rounded-tr-md rounded-br-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none"
        id="menu-button"
        aria-expanded="true"
        aria-haspopup="true"
      >
        {{ 'AUTH.' + activeItem | translate }}
        <img
          *ngIf="flagDropdown"
          class="-mr-1 ml-2 h-5 w-5"
          src="/assets/icons/chevron-up.svg"
          alt=""
        />
        <img
          *ngIf="!flagDropdown"
          class="-mr-1 ml-2 h-5 w-5"
          src="/assets/icons/chevron-down.svg"
          alt=""
        />
      </button>
    </div>
    <div
      *ngIf="flagDropdown"
      class="origin-top-right absolute right-0 mt-2 w-40 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div *ngFor="let item of dropDownItems" class="py-1" role="none">
        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
        <div
          (click)="setActiveItem(item.name)"
          class="text-gray-700 group flex items-center px-4 py-2 text-sm cursor-pointer"
          role="menuitem"
          tabindex="-1"
          id="menu-item-0"
        >
          <img
            class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500"
            src="{{ '/assets/icons/' + item.icon }}"
          />
          {{ 'AUTH.' + item.name | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
