<input type="password" class="form-input" placeholder="text" />
<input matInput type="text" />
<button mat-button color="primary">Primary</button>
<mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
<p class="mat-display-2">{{ message }}</p>
<button mat-button class="btn" (click)="ClickHandle()">Click</button>
<mat-icon>settings</mat-icon>
<mat-icon>help</mat-icon>
<ul>
  <li class="text" *ngFor="let item of items | async">
    {{ item.name }}
  </li>
</ul>
<router-outlet></router-outlet>
<se-language-picker-web></se-language-picker-web>