.btn {
  @apply py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400;
}
.protobtn {
  @apply flex w-40 h-10 rounded-full text-gray-100 font-medium align-middle px-3 py-2 justify-center;
  transition: 0.5s;
  background-color: #6854c4;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  z-index: 50;
}
.protobtn:hover {
  background-color: #7b6bc5;
}
.closeprotobtn {
  @apply ml-2;
  color: #9085c2;
}
.closeprotobtn:hover {
  @apply text-white;
  transition: 0.5s;
}
.loader-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 10000000;
}
