<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="flex pl-4 pt-4" aria-label="Breadcrumb">
  <ol class="rounded-md flex md:space-x-1 space-x-2">
    <li class="flex">
      <div class="flex items-center">
        <div
          routerLink="/"
          class="cursor-pointer text-white hover:text-gray-200"
        >
          <!-- Heroicon name: solid/home -->
          <svg
            class="flex-shrink-0 md:h-5 md:w-5 w-3"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
            />
          </svg>
          <span class="sr-only">Accueil</span>
        </div>
      </div>
    </li>

    <li class="flex">
      <div class="flex items-center">
        <svg
          class="flex-shrink-0 w-2 text-white"
          viewBox="0 0 24 44"
          preserveAspectRatio="none"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <div
          *ngIf="type === 'Courses'"
          routerLink="/courses"
          class="cursor-pointer ml-2 md:text-xs text-[10px] font-bold text-white hover:text-gray-200"
        >
          Formations
        </div>
        <div
          *ngIf="type === 'Articles'"
          routerLink="/articles"
          class="cursor-pointer ml-2 md:text-xs text-[10px] font-bold text-white hover:text-gray-200"
        >
          Article
        </div>
        <div
          *ngIf="type === 'Services'"
          routerLink="/services"
          class="cursor-pointer ml-2 md:text-xs text-[10px] font-bold text-white hover:text-gray-200"
        >
          Services
        </div>
      </div>
    </li>

    <li *ngFor="let link of links" class="flex">
      <div class="flex items-center">
        <svg
          class="flex-shrink-0 w-2 text-white"
          viewBox="0 0 24 44"
          preserveAspectRatio="none"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <div
          [routerLink]="link.url"
          [queryParams]="{
            'courses[refinementList][category][0]': link.category
          }"
          class="cursor-pointer ml-2 md:text-xs text-[10px] font-bold text-white hover:text-gray-200"
        >
          {{ link.name }}
        </div>
      </div>
    </li>
  </ol>
</nav>
