<div class="bg-white">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2
        class="text-gray-800 text-2xl lg:text-3xl font-bold sm:text-left text-center mb-4 md:mb-6"
      >
        Rencontrez vos instructeurs
      </h2>
    </div>
    <!-- text - end -->

    <div
      class="grid gap-10 mx-auto sm:grid-cols-2 lg:grid-cols-4 lg:max-w-screen-lg"
    >
      <div *ngFor="let instructor of data">
        <div class="relative pb-56 mb-4 rounded shadow lg:pb-64">
          <img
            class="absolute object-cover w-full h-full rounded"
            [src]="instructor.image"
            alt="Person"
          />
          <div
            *ngIf="instructor?.top_instructor"
            class="absolute overflow-hidden left-0 top-0 w-36 h-36"
          >
            <div
              class="absolute transform -rotate-45 bg-green-400 text-center text-white font-semibold py-1 left-[-34px] top-[32px] w-[170px]"
            >
              Top instructeur
            </div>
          </div>
        </div>
        <div class="flex flex-col sm:text-center">
          <p class="cursor-pointer text-lg font-bold hover:underline">
            {{ instructor.full_name }}
          </p>
          <p class="mb-5 text-sm text-gray-800">
            {{ instructor.role_description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
